/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button {
  height: 4rem;
  width: 8rem;
  font-size: 1rem;
  background: purple;
  color: white;
}
